<div class="jumbotron mt-4">
    <h1 class="display-4">Node APP</h1>
    <p class="lead">Lorem ipsum, dolor sit amet consectetur adipisicing elit.</p>
    <hr class="my-4">
    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Fuga iure libero temporibus est explicabo, quaerat soluta dignissimos quidem modi asperiores odit adipisci at. Maiores voluptas iste sequi harum nisi totam.</p>
<a href="https://www.google.com" class="btn btn-primay btn-lg">google</a>
</div>